<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>Если вы зашли сюда не случайно, то вероятно тот человек который хочет помощь окружающей среде и помочь нам справится с глобальным потеплением!</h1>
        <h3>Если вы заинтересованы в помощи нам то, в нашем дискорд сервере вы сможете постаяно писать о ваших достижениях и что вы сделали сегодня!</h3>
        <h3>Мы всегда будем ждать новых оповещений в дискорде а на сайте у вас будут задание их вы сможете выполнять по желанию, могут быть как и легкие так и трудные задание.</h3>
        <h3>Но все люди делают эти задание для своего же благо и все сдесь пытаются помочь справится с глобальным потеплением и с другими природными катастрофами и проблемами!</h3>
    </header>
    <main>
        <h2>Перейти на задание!</h2>
        <div>
            <form action="/ques" target="_blank">
                <button>Перейти</button>
               </form>
        </div>
    </main>
    <footer>
        
    </footer>
</body>
</html>