<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="classic_question">
        <div class="question1">
            <h4>Посади 3 любых растений</h4>
            <form action="https://www.youtube.com/watch?v=cvh0nX08nRw&t=0s">
                <button class="ready1">Я выполнил задание!</button>
            </form>
        </div>
        <div class="question2">
            <h4>Посади 3 любых растений</h4>
            <form action="https://www.youtube.com/watch?v=cvh0nX08nRw&t=0s">
                <button class="ready2">Я выполнил задание!</button>
            </form>
        </div>
        <div class="question3">
            <h4>Посади 3 любых растений</h4>
            <form action="https://www.youtube.com/watch?v=cvh0nX08nRw&t=0s">
                <button class="ready3">Я выполнил задание!</button>
            </form>
        </div>
    </div>
    <div class="warming_question">
        <div class="question1.1">
            <h4>Посади 3 любых растений</h4>
            <form action="https://www.youtube.com/watch?v=cvh0nX08nRw&t=0s">
            <button class="ready11">Я выполнил задание!</button>
            </form>
        </div>
        <div class="question2.1">
            <h4>Посади 3 любых растений</h4>
            <form action="https://www.youtube.com/watch?v=cvh0nX08nRw&t=0s">
                <button class="ready12">Я выполнил задание!</button>
            </form>
        </div>
        <div class="question3.1">
            <h4>Посади 3 любых растений</h4>
            <form action="https://www.youtube.com/watch?v=cvh0nX08nRw&t=0s">
                <button class="ready13">Я выполнил задание!</button>
            </form>
        </div>
    </div>
</body>
</html>